.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom left, white, #fde1a5);
  color: #5c5c5c;
}

.Fejlec {
  
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

/*https://markodenic.com/tools/buttons-generator/ */
.Fejlec button {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20 0px;
  margin-left: 10px;
  align-items: flex-end;
  min-width: 130px;
  height: 40px;
  color: #727272;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #adb5bd;
  background: #ffffff;
}

.Fejlec button:hover {
  background: #fde1a5;
  color: #5c5c5c;
}

.Fejlec ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20 0px;
  padding: 0 25px;
}

.Fejlec ul li {
  list-style-type: none;
  float: right;
  display: flex;
}

.Fejlec label {
  margin-right: 10px;
  margin-left: 20px;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}

.Content .Hibauzenet {
  width: fit-content;
  padding: 15px;
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(133, 0, 0);
  background-color: rgb(255, 116, 116);
}

.Content .Uzenet {
  width: fit-content;
  padding: 15px;
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(1, 176, 219);
  background-color: rgb(129, 228, 253);
}

.Wrapper .kiemel {
  background-color: rgb(255, 116, 116);
}

.Belepes {
  border-color: #1a4e7b;
  border-style: solid;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.185);
  padding: 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: fit-content;
  width: fit-content;
}

.Belepes input {
  margin-top: 20px;
  height: 20px;
}

.Belepes button {
  min-width: 130px;
  height: 40px;
  color: #727272;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #adb5bd;
  background: #ffffff;
  z-index: 500;
}

.Belepes button:hover {
  background: #fde1a5;
  color: #5c5c5c;
}

.Belepes table {
  border: none;
  border-collapse: unset;
  margin-top: 40px;
}

.FentiGombok {
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FentiGombok button {
  min-width: 130px;
  height: 40px;
  color: #727272;
  font-weight: bold;
  margin-left: 20px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #adb5bd;
  background: #ffffff;
}

.FentiGombok button:hover {
  background: #fde1a5;
  color: #5c5c5c;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.UjSzak {
  background-color: #1a4e7b;
  color: #fde1a5;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-content: space-between;
  align-self: center;
}

.UjSzak label {
  margin: 30px;
}

.UjSzak button {
  min-width: 130px;
  height: 40px;
  color: #fde1a5;
  font-weight: bold;
  margin: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #fde1a5;
  background: #1a4e7b;
}

.UjSzak button:hover {
  background: #fde1a5;
  color: #1a4e7b;
}

.UjFelev {
  background-color: #1a4e7b;
  color: #fde1a5;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.UjFelev label {
  margin: 30px;
}

.UjFelev button {
  min-width: 130px;
  height: 40px;
  color: #fde1a5;
  font-weight: bold;
  margin: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #fde1a5;
  background: #1a4e7b;
}

.UjFelev button:hover {
  background: #fde1a5;
  color: #1a4e7b;
}

.UjOktato {
  background-color: #1a4e7b;
  color: #fde1a5;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.UjOktato label {
  margin-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.UjOktato input {
  
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.UjOktato select {
  
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.UjOktato button {
  min-width: 130px;
  height: 40px;
  color: #fde1a5;
  font-weight: bold;
  margin: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #fde1a5;
  background: #1a4e7b;
}

.UjOktato button:hover {
  background: #fde1a5;
  color: #1a4e7b;
}

.MasikSzak {
  background-color: #1a4e7b;
  color: #fde1a5;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.MasikSzak label {
  margin-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.MasikSzak button {
  min-width: 130px;
  height: 40px;
  color: #fde1a5;
  font-weight: bold;
  margin: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #fde1a5;
  background: #1a4e7b;
}

.MasikSzak button:hover {
  background: #fde1a5;
  color: #1a4e7b;
}

.UjTargy {
  background-color: #1a4e7b;
  color: #fde1a5;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.UjTargy label {
  margin-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.UjTargy input {
  
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.UjTargy button {
  min-width: 130px;
  height: 40px;
  color: #fde1a5;
  font-weight: bold;
  margin: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #fde1a5;
  background: #1a4e7b;
}

.UjTargy button:hover {
  background: #fde1a5;
  color: #1a4e7b;
}

.SzakInditasa {
  height: 70%;
  width: 25%;
}

.SzakInditasa button {
  min-width: 130px;
  height: 40px;
  color: #727272;
  font-weight: bold;
  margin: 20px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #adb5bd;
  background: #ffffff;
}

.SzakInditasa button:hover {
  background: #fde1a5;
  color: #5c5c5c;
}

.TargyakMegadasaImport {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.TargyakMegadasaImport button {
  min-width: 130px;
  height: 40px;
  color: #727272;
  font-weight: bold;
  margin: 20px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #adb5bd;
  background: #ffffff;
}

.TargyakMegadasaImport button:hover {
  background: #fde1a5;
  color: #5c5c5c;
}

.fotabla {
  height: 70%;
  padding-left: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}

.fotabla .Kisgomb {
  height: 20px;
  min-width: 50px;
}

.fotabla button {
  max-width: 130px;
  min-width: 70px;
  height: 50px;
  color: #727272;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #adb5bd;
  background: #ffffff;
}

.fotabla button:hover {
  background: #fde1a5;
  color: #5c5c5c;
}

.fotabla button:disabled {
  background: #aaaaaa;
  color: #000;
}

.Hibauzenet {
  width: 50%;
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: rgb(133, 0, 0);
  background-color: rgb(255, 116, 116);
}

.Uzenet {
  width: 50%;
  display: flex;
  justify-self: center;
  align-self: center;
  color: rgb(1, 176, 219);
  background-color: rgb(129, 228, 253);
}

.kiemel {
  background: #f00;
}

.kisgombok {
  min-width: 70px;
  max-width: 70px;
  padding: 0%;
}

.kisgombok  button {
  min-width: 70px;
  max-width: 70px;
  padding: 0%;
}

.hidden {
  display: none;
}

table {
  border: 2px solid #1a4e7b;
  width: 70%;
  border-collapse: collapse;
  margin: auto;
}

th {
  border-bottom: 1px solid black;
  border-left: 1px solid #1a4e7b;
}

th {
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #1a4e7b;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff31;
}

tbody td {
  padding: 5px;
  width: fit-content;
}

.kisgomb {
  min-width: 70px;
  max-width: 70px;
}
